@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600;700&display=swap');
@tailwind base;

/* Start purging... */
@tailwind components;
@tailwind utilities;


.bg-gray-250 {
    background-color: #F5F6F5;
}
.bg-gray-350 { background-color: #E4EAE4;}
.text-gray-350 {
    color: #E4EAE4
}

.-z-1 { z-index: -1;}

p:empty { height: 0.25rem }

.text-brand { color: #97AF95 }
.bg-brand-900 { background-color: #1A1A1A;}

.prose > ul > li > p { margin: 0 !important }
/* Stop purging. */

.prose > h2::before {
    content: url('/blog/pattern.svg');
    position: absolute;
    z-index: -1;
    transform: translate(-1.125rem, -0.9rem) rotate(-2deg);
}